export ARCH=arm64 # arm64 or x86_64
export USER=<USERNAME>
export CLOUDLET_DN=<CLOUDLET_FQDN>
export MAGMA_DN=<MAGMA_DN>
export MAGMA_USER=<MAGMA_USER>
export CLOUDLET_IP=<CLOUDLET_IP>
export S1_IP=<S1_IP>
export RECIPE_HOME=<RECIPE_HOME>
export PLAYBOOK_HOME=${RECIPE_HOME}/ansible
export NETWORK_ELEMENT=agw # agw or orc8r
export PRIVATE_KEY=<MYPRIVATEKEYFILE>
export ROOT_CA_PATH=<ROOT_CA_PATH>
export ORC8R_IP=<ORC8R_IP>
export ETH0_MAC=<ETH0_MAC>
export ETH1_MAC=<ETH1_MAC>
export NAMESERVER_IP=<NAMESERVER_IP>
export NODEB_IP=<NODEB_IP>
export IPGATEWAY_IP=<IPGATEWAY_IP>
export ORC8R_HELM_REPO= "https://linuxfoundation.jfrog.io/artifactory/magma-helm-prod"
export MAGMA_GITHUB=https://github.com/magma/magma.git

export MAGMA_VERSION=<MAGMA_VERSION>
export RKE_VERSION=<RKE_VERSION>
export KUBECTL_VERSION=<KUBECTL_VERSION>
export HELM_VERSION=<HELM_VERSION>
export DOCKER_IMAGE_VERSION=<DOCKER_IMAGE_VERSION>
export K9S_VERSION=<K9S_VERSION>
export DOCKER_COMPOSE_VERSION=<DOCKER_COMPOSE_VERSION>